<div class="container py-4">
  <div class="col-8">
    <%= simple_form_for(@task) do |f| %>
      <%= f.input :title %>
      <%= f.input :details %>
      <%= f.input :completed, as: :boolean, checked_value: true, unchecked_value: false %>
      <%= f.submit class: "btn btn-primary mx-3"%>
    <% end %>
  </div>
</div>